OVN_CTL_OPTS="\
{% for option, value in ovn_central_conf.items() if value is not mapping %}
{% if value %}
--{{ option | replace('_', '-') }}={{ value }} \
{% endif %}
{% endfor %}
{% if not ovn_is_leader | bool and __ovn_cluster_leader %}
--db-nb-cluster-remote-addr={{ __ovn_cluster_leader }}
--db-sb-cluster-remote-addr={{ __ovn_cluster_leader }}
{% endif %}
{% if __ovn_nb_connection and __ovn_sb_connection %}
--ovn-northd-nb-db={{ __ovn_nb_connection }}
--ovn-northd-sb-db={{ __ovn_sb_connection }}
{% endif %}
"
